/dts-v1/;
/plugin/;

/ {
	compatible = "brcm,bcm2835";

	fragment@0 {
		target-path = "/";
		__overlay__ {
			reserved-memory {
				#address-cells = <1>;
				#size-cells = <1>;
				ranges;

				ramoops: ramoops@0f000000 {
					compatible = "ramoops";
					reg = <0x0b000000 0x100000>; /* 1 MB */
                                        ecc-size = <16>;
					record-size = <0x20000>; /* 128kB */
					console-size = <0x20000>;
					ftrace-size = <0>;
					pmsg-size = <0x20000>;
				};
			};
		};
	};
};

