# boardid.config

# Read the serial number from the U-boot environment block. The variable
# "nerves_serial_number" is the desired variable to use. "serial_number" is
# checked as a backup.
-b uboot_env -u nerves_serial_number
-b uboot_env -u serial_number

# Last resource, use 4 digits of the RPi's unique ID as the serial number
-b rpi -n 4
